@model ConsumeWebApi.Models.category.PostCategory

@{
    ViewData["Title"] = "Create";
}

<h1><b>Create Category</b></h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label>Upload image</label>
                <input asp-for="Image" class="form-control form-control-sm" type="file" accept=".png,.jpg " id="image" onchange="Addimage()">
            </div>
            <img src="" id="CatImage" class="col-4 card" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function Addimage() {
            document.getElementById("CatImage").src = window.URL.createObjectURL(document.getElementById("image").files[0]);
        }
    </script>
}