@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4"><b>Welcome To<br />Online Shopping System</b></h1>
        </div>
        <div class="col-md-6 text-center">
            <img src="~/Images/online-shopping-logo-removebg (1).png" alt="Image Description" class="img-fluid" id="img-home" />
        </div>
    </div>
</div>
